.cast {
    display: flex;
    flex-wrap: wrap;
    width: 1500px;
    justify-content: space-evenly;
    justify-self: center;
    margin: 2em;
    gap: 2em;
}

.card {
    box-shadow: 6px 6px 10px rgba(0,0,0,0.15);
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.02) rotate(1deg);
}